<p>
  There is nothing either good or bad but <%= noun %> makes it so.
</p>

<p>
  Ruby version <%= RUBY_VERSION %><br />
  Controller: <%= controller_name %><br />
  User Agent: <%= env['HTTP_USER_AGENT'] %><br />
</p>